<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Student assistencia</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/home/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/home/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/home/plugins/themify-icons/themify-icons.css">
  <!-- animation css -->
  <link rel="stylesheet" href="/home/plugins/animate/animate.css">
  <!-- aos -->
  <link rel="stylesheet" href="/home/plugins/aos/aos.css">
  <!-- venobox popup -->
  <link rel="stylesheet" href="/home/plugins/venobox/venobox.css">

  <!-- Main Stylesheet -->
  <link href="/home/css/style.css" rel="stylesheet">
  {{!-- custom Style --}}
  <link rel="stylesheet" href="/home/css/main.css">
  <!--Favicon-->
  <link rel="shortcut icon" href="/home/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="/home/images/favicon.png" type="image/x-icon">

</head>

<body>


{{{body}}}


<!-- jQuery -->
<script src="/home/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/home/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="/home/plugins/slick/slick.min.js"></script>
<!-- aos -->
<script src="/home/plugins/aos/aos.js"></script>
<!-- venobox popup -->
<script src="/home/plugins/venobox/venobox.min.js"></script>
<!-- filter -->
<script src="/home/plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
<script src="/home/plugins/google-map/gmap.js"></script>

<!-- Main Script -->
<script src="/home/js/script.js"></script>
{{!-- Addition Scripts --}}
<script src="/home/js/main.js"></script>

</body>
</html>