<footer>
  <!-- newsletter -->
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom" style="padding-top:100px !important">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
          <!-- logo -->
          <a class="logo-footer" href="index.html"><img class="img-fluid mb-4" src="/home/images/logo.png" alt="logo"></a>
          <ul class="list-unstyled">
            <h4>Contact with us</h4>
            <li class="mb-2"> Address : Chakdara , Warsak Tehsil Adenzai District Dir Lower</li>
            <li class="mb-2"> ph : +92 310 1098111</li>
            <li class="mb-2"> ph : +92 346 0212181</li>
            <li class="mb-2">Email : studentassistencia@gmail.com</li>
            <li class="mb-2">Email : mhk.csit@gmail.com</li>
          </ul>
        </div>
        <!-- company -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5">Students Assistance</h4>
          <ul class="list-unstyled">
            <li class="mb-3"><a class="text-color" href="/internationalPrograms">Programs</a></li>
            <li class="mb-3"><a class="text-color" href="/scholarships">Scholarships</a></li>
            <li class="mb-3"><a class="text-color" href="/contact">Contact</a></li>
            <li class="mb-3"><a class="text-color" href="/about">About</a></li>
          </ul>
        </div>
        <!-- links -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5">Actors Assistance</h4>
          <ul class="list-unstyled">
            <li class="mb-3"><a class="text-color" href="/student">Student Portal</a></li>
            <li class="mb-3"><a class="text-color" href="/admin">Admin Portal</a></li>
            <li class="mb-3"><a class="text-color" href="/university">University Portal</a></li>
          </ul>
        </div>
        <!-- support -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5">Students Registration</h4>
          <ul class="list-unstyled">
            <li class="mb-3"><a class="text-color" href="/user/login">Login</a></li>
            <li class="mb-3"><a class="text-color" href="/user/register">Register</a></li>
          </ul>
        </div>
        <!-- support -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white  mb-5">Quick Links</h4>
          <ul class="list-unstyled">
            <li class="mb-3"><a class="text-color" href="#latest-news">Blogs</a></li>
            <li class="mb-3"><a class="text-color" href="#latest-news">Our Inspiration</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright py-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 text-sm-left text-center">
          <p class="mb-0">Copyright
            <script>
              var CurrentYear = new Date().getFullYear()
              document.write(CurrentYear)
            </script> 
            © Student Assistencia powered by <b>MuddassirHymeed</b></p>
        </div>
        <div class="col-sm-5 text-sm-right text-center">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="d-inline-block p-2" href="https://www.facebook.com/MuddassirHymeed?mibextid=ZbWKwL"><i class="ti-facebook text-primary"></i></a></li>
            <li class="list-inline-item"><a class="d-inline-block p-2" href="https://www.linkedin.com/in/muddassirhymeed/"><i class="ti-linkedin text-primary"></i></a></li>
            <li class="list-inline-item"><a class="d-inline-block p-2" href="https://www.instagram.com/muddassirhymeed?igsh=NHZsbzZxOWxwcG9x"><i class="ti-instagram text-primary"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>