<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left">
          {{!-- <a class="text-color mr-3" href="callto:+923101098111"><strong>CALL +92 3101098111</strong></a>
          <a class="text-color mr-3" href="callto:+923460212181"><strong>CALL +92 3460212181</strong></a> --}}
          <ul class="list-inline d-inline">
            <a class="social-packs about-page-social-link" href="https://facebook.com/muddassirhymeed" target="_blank"><i class="fa-brands fa-facebook" style="color: #005eff;"></i></a>
            <a class="social-packs about-page-social-link" href="https://instagram.com/muddassirhymeed" target="_blank"><i class="fa-brands fa-instagram" style="color: #fa1c71;"></i></a>
            <a class="social-packs about-page-social-link" href="https://www.linkedin.com/in/muddassirhymeed/?originalSubdomain=pk" target="_blank"><i class="fa-brands fa-linkedin" style="color: #1f51a8;"></i></a>
            <a class="social-packs about-page-social-link" href="callto:+923101098111" target="_blank"><i class="fa-brands fa-skype" style="color: #00a4db;"></i></a>
            <a class="social-packs about-page-social-link" href="https://github.com/MuddassirHymeed" target="_blank"><i class="fa-brands fa-github" style="color: #0d0d0d;"></i></a>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          {{!-- <ul class="list-inline"> --}}
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/student">Student Portal</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/university">University Portal</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/user/login">login</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/user/register">Register</a></li>
          {{!-- </ul> --}}
        </div>
      </div>
    </div>
  </div>
  <!-- navbar -->
  <div class="navigation w-100" id="home-nav">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <a class="navbar-brand" href="/"><img src="/home/images/logo.png" alt="logo"></a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/internationalPrograms">Programs</a>
            </li
            ><li class="nav-item">
              <a class="nav-link" href="/scholarships">Scholarship</a>
            </li>
            <li class="nav-item @@about">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item @@contact">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
