<footer class="main-footer">
    <strong>Copyright &copy; 2024 Student Assistencia.</strong>

    <div class="float-right d-none d-sm-inline-block">
        <b>Powered by Uomians</b> 
    </div>
</footer>