 <aside class="main-sidebar sidebar-dark-primary elevation-4"  style="    background: #1E2A46;
    color: #fff !important;">
    <!-- Brand Logo -->
    <a href="/student" class="brand-link">
      <span class="brand-text font-weight-light">Student Portal</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/stuUniAdmin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{username}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/student" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          {{!-- menu-open to keep menu open --}}
          <li class="nav-item has-treeviewme menu-open">
            <a href="/admin/program" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Applications
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/student/apply" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Apply Here</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/student/viewApplications" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View Applications</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>