<!-- page title -->
<section class="page-title-section overlay"
    data-background="https://images.unsplash.com/photo-1524850011238-e3d235c7d4c9?q=80&w=1464&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/about">
                            About Us</a></li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="gal-pic-res-mark">About Student Assistencia</h2>
                <div class="gallery-items-res">
                    <div class="gallery-item-pic"><img class="gl-item-res-pon"
                            src="https://images.unsplash.com/photo-1531496730074-83b638c0a7ac?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Image 1"></div>
                    <div class="gallery-item-pic"><img class="gl-item-res-pon"
                            src="https://images.unsplash.com/photo-1551434678-e076c223a692?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Image 2"></div>
                    <div class="gallery-item-pic"><img class="gl-item-res-pon"
                            src="https://images.unsplash.com/photo-1557804506-669a67965ba0?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Image 3"></div>
                    <div class="gallery-item-pic"><img class="gl-item-res-pon"
                            src="https://images.unsplash.com/photo-1538688423619-a81d3f23454b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Image 4"></div>
                    <div class="gallery-item-pic"><img class="gl-item-res-pon"
                            src="https://images.unsplash.com/photo-1552581234-26160f608093?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Image 5"></div>
                    <div class="gallery-item-pic"><img class="gl-item-res-pon"
                            src="https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Image 6"></div>
                </div>
                <div class="head-about-blog">
                    <h2 class="mmabout">Welcome to Student Assistencia</h2><br>
                    <p class="mmabout">At Student Assistencia, our mission is to provide students with unparalleled
                        academic support and resources, enabling them to excel in their educational pursuits. We are
                        committed to fostering a learning environment that nurtures academic excellence and personal
                        growth.</p>
                </div>

                <div class="head-about-blog">
                    <h3 class="mmabout">Our Organization</h3><br>
                    <p class="mmabout">Student Assistencia was founded by a group of dedicated educators and industry
                        professionals who recognized the need for comprehensive student support. We leverage our
                        collective expertise to offer tailored solutions that address the diverse academic challenges
                        faced by students today.</p>
                </div>

                <div class="head-about-blog">
                    <h3 class="mmabout">What We Offer</h3><br>
                    <p class="mmabout"><b style="color: rgb(47, 0, 219);">Our range of services is designed to cater to
                            the varying needs of students
                            across different academic levels:</b> <br><br>
                        <i><b>Personalized Tutoring:</b></i> One-on-one and group tutoring sessions led by experienced
                        educators
                        across a variety of subjects. <br><br>
                        <i><b>Academic Resources:</b></i> Access to a vast repository of study materials, including
                        guides, practice
                        exams, and interactive tools. <br><br>
                        <i><b>Career Counseling:</b></i> Expert guidance on college applications, scholarship
                        opportunities, and
                        career planning to help students make informed decisions about their futures. <br><br>
                        <i><b>Mentorship Programs:</b></i> Connect with mentors who provide invaluable advice and
                        support on both
                        academic and personal development.
                    </p>
                </div>


                <div class="head-about-blog">
                    <h3 class="mmabout">Our Methodology</h3><br>
                    <p class="mmabout">At Student Assistencia, we employ a student-centered approach, emphasizing
                        personalized learning and adaptive teaching methods. Our programs are crafted to not only boost
                        academic performance but also enhance critical thinking, problem-solving skills, and overall
                        confidence.</p>
                </div>


                <div class="head-about-blog">
                    <h3 class="mmabout">Why Student Assistencia?</h3><br>
                    <p class="mmabout"> <i><b>Expert Team:</b></i> Our tutors and counselors are highly qualified
                        professionals with
                        extensive experience in their respective fields. <br><br>
                        <i><b>Customized Solutions:</b></i> We understand that every student is unique, and we offer
                        tailored support
                        that aligns with individual learning styles and goals. <br><br>
                        <i><b>Track Record of Success:</b></i> Our students have a history of achieving higher academic
                        results,
                        gaining admission to prestigious institutions, and securing competitive scholarships. <br><br>
                        <i><b>Supportive Community:</b></i> We create an inclusive and collaborative environment where
                        students can
                        thrive academically and personally.
                    </p>
                </div>

                <div class="head-about-blog">
                    <h3 class="mmabout">Join us</h3><br>
                    <p class="mmabout">We invite you to become part of the Student Assistencia family. Whether you need
                        specialized tutoring, strategic career advice, or holistic academic support, our team is here to
                        guide you every step of the way.</p>
                </div>

                <div class="jion-us-button">
                    <a href="/contact" class="join-us-button-click">Visit Now</a>
                </div>
            </div>
        </div>
</section>
<!-- /about -->