<!-- page title -->
<section class="page-title-section overlay"
    data-background="https://plus.unsplash.com/premium_photo-1684225765169-2c46196bcca6?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/contact">
                            Contact us</a></li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container-stu-cf">
    <form class="contact-form-data">
        <h2 style="background-color: black;">Student Contact Form</h2>
        <p class="para-con">Please fill this form in a decent manner</p>
        <div class="form-group-op">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group-op">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group-op">
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn-form-stu-rs">Send Message</button>
    </form>
</div>
<!-- /page title -->

<!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2>Welcome</h2>
                <p>
                    Welcome to our Student Assistencia contact page! We're thrilled that you're here and interested in
                    reaching out to us. Whether you have questions about our services, want to provide feedback, or need
                    assistance, we're here to help. Below, you'll find various ways to get in touch with us depending on
                    your needs:
                </p>
            </div>


            <div class="col-lg-8 offset-lg-2">
                <h2>General Inquiries</h2>
                <p>
                    For general inquiries about our services, partnerships, or any other questions, please feel free to
                    email us at <a href="callto:+923101098111">contact@studentassistencia.com</a> or
                    fill out the contact form below. We aim to respond to
                    all inquiries within 24-48 hours.
                </p>
            </div>

            <div class="col-lg-8 offset-lg-2">
                <h2>Feedback</h2>
                <p>
                    We value your feedback as it helps us improve our services. Whether you have suggestions for
                    enhancement or want to share your experience with us, please send your feedback to
                    <a href="#contactformstudentass">feedback@studentassistencia.com.</a>
                </p>
            </div>

            <div class="col-lg-8 offset-lg-2">
                <h2 style="padding-bottom: 15px;">Studnet Assistencia Developers</h2>
                <h3 style="font-size: 18px;">Muddassir Hymeed</h3><a
                    href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=mhk.csit@gmail.com&su=Subject%20Here&body=Message%20Here"
                    target="_blank" class="contact-gmail"><i class="fa-solid fa-envelope fa-xl"></i></a><br><br>
                <h3 style="font-size: 18px;">Mehran Khan</h3><a
                    href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=m3hr4nkh4n1047@gmail.com&su=Subject%20Here&body=Message%20Here"
                    target="_blank" class="contact-gmail"><i class="fa-solid fa-envelope fa-xl"></i></a>
            </div>

        </div>
    </div>
</section>


<!-- /about -->