<!-- page title -->
<section class="page-title-section overlay" data-background="/home/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">
                        Contact us</a></li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <p>
                    You're not going to hit a ridiculously long phone menu when you call us. Your email isn't going to the inbox abyss, never to be seen or heard from again. At Choice Screening, we provide the exceptional service we'd want to experience ourselves!
                </p>
                <p>
                   Contact Us at <a href="mailto:wasayhayee@gmail.com">Our Mail</a>
                </p>

            </div>
        </div>
    </div>
</section>
<!-- /about -->
