<!-- page title -->
<section class="page-title-section overlay" data-background="https://images.unsplash.com/photo-1676278746071-cd54ce97bf16?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/scholarships">
                        Select Scholarship by University</a></li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2>Search University Scholarships</h2>
                <table class="table table-responsive table-bordered">
                    <thead>
                        <th>University Name</th>
                    </thead>
                    <tbody>
                        {{#each universities}}
                        <tr>
                            <td><a href="/universityScholarship/{{_id}}">{{universityName}}</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
<!-- /about -->
