<footer class="main-footer">
    <strong>Copyright &copy; 2020 Student Assistencia.</strong>

    <div class="float-right d-none d-sm-inline-block">
        <b>powered by</b> Sheikh&Developer
    </div>
  </footer>